.container {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 300px 40px;
    grid-template-areas: "h h h h h h h h h h h h" "m c2 c2 c2 c2 c2 c c c c c c" "f f f f f f f f f f f f";
    justify-items: center;
    align-items: center;
}

.header {
    /* grid-column-start: 1;
    grid-column-end: -1; */
    /* Short hand  and alternates */
    /* grid-column: 1 / 3; */
    /* grid-column: 1 / -1; */
    /* Using grid areas */
    grid-area: h;
}

.menu {
    /* grid-row: 1 / -1; */
    /* grid-column: -2 / -1; */
    /* Using grid areas */
    grid-area: m;
}

.content+.content {
    grid-area: c2;
}

.content {
    /* grid-column: 2 / -1; */
    /* Using grid areas */
    grid-area: c;
}

.footer {
    /* grid-column: 1 / -1; */
    /* Using grid areas */
    grid-area: f;
}